/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
	body {
		background: #eeeeef;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #181818;
		font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: normal;
	}

	.container {
		width: 100%;
	}

	.myfileupload-buttonbar input {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            border: solid transparent;
            border-width: 0 0 100px 200px;
            opacity: 0.0;
            filter: alpha(opacity=0);
            -o-transform: translate(250px, -50px) scale(1);
            -moz-transform: translate(-300px, 0) scale(4);
            direction: ltr;
            cursor: pointer;
     }
     .myui-button {
            position: relative;
            cursor: pointer;
            text-align: center;
            overflow: visible;
            background-color: red;
            overflow: hidden;
        }




/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.header {
			background: #d6d6d6;
			height: 2.750em;
			width: 100%;
		}

		.header .title {
			color: #ffffff;
			text-align: center;
		}

		.btn {

			-moz-border-radius: 0.875em;
	 		-webkit-border-radius: 0.875em;
	 		border-radius: 0.875em;
	 		margin: 0.375em auto;
    		background: #929292;
    		text-align: center;
    		position: relative;
            cursor: pointer;
            overflow: visible;
            overflow: hidden;
		}

		.btn-text {
			color: #f4fbfe;
			font-size: 1.2em
		}

		.btn.large {
			width: 20em;
			height: 4em;
			line-height: 4em;
		}

		.blue{
			background: #a8d6ff;
		}


		.blue:active{
			background: #93C7F5;
		}

		.red{
			background: #f77872;
		}


		.red:active{
			background: #F06660;
		}

		.text-box {
			margin-top: 0.75em;
			margin-bottom: 0.5em;
		}

		p {
			color: #797979;
			line-height: 1em;
			margin-left: 5%;
			margin-right: 5%;
			margin-bottom: 0.3em;
		}

		.preview-box {
			position: relative;
			margin: 0 auto;
			margin-top: 1em;
			margin-bottom: 0.75em;
			border: 0.2em;
			border-style: dashed;
			border-color: #aaaaaa;
			-moz-border-radius: 0.5em;
	 		-webkit-border-radius: 0.5em;
	 		border-radius: 0.5em;
			background: #ffffff;
			width: 21em;
			min-height: 4em;
			line-height: 4em;
			text-align: center;
			color: #d6d6d6;
		}

		.




	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/