{% extends "base.html" %}
{% block content %}
        <div class="text-box">
            <p>1. Take a photo of your receipt. If it doesn't fit in one photo, that's okay</p>
            <p>2. Confirm that your photos are in chronological order.</p>
            <p>3. Let the app do its magic!</p>
        </div>

        <form class="form-actions" action="" method="post" enctype="multipart/form-data">
            <div class="myfileupload-buttonbar ">
                <label class="btn btn-large btn-primary">
                    <span class="btn-text"> Capture or select photo(s) </span>
                    <input id="file" name="file" type="file" >
                    <!-- <input id="file" name="file" type="file" accept="image/*" multiple capture="camera"> -->

                </label>
            </div>


            <div class="preview-box">
                <img id="uploadPreview"  class="hide" style="width: 100px; height: 100px;" />
                <span> No photo(s) uploaded yet! </span>
            </div>

            <label class="btn btn-large btn-info">
                <span class="btn-text"> Let the magic happen!</span>
                <input style="display:none;" type=submit value=Upload>
            </label>
        </form>


{% endblock %}